@{
    ViewBag.Title = "About";
}
<h2>About Ray-Tracing Rentals</h2>
<h3>A game rental management system!</h3>

<p>Use this application to keep track of products, customers, orders, and stores. You can also edit, update, and delete these as well! </p>
