@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>We are available at:</h3>

<address>
    Mars Rover<br />
    Red Rock, Mars <br />
    <abbr title="Phone">P:</abbr>
    123.456.MARS
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Ray@TracingSupport.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Ray@TracingMarket.comm</a>
</address>