@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Ray-Tracing Rentals!</h1>
    <p class="lead">Ray-Tracing Rentals is a up and coming game rental service! FIrst, register a account, then to create, view, update, or delete a rental store please click the Rental Store button below or the Store button on the navigation bar.</p>
    @if (User.Identity.IsAuthenticated)
            {
                <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Rental Store", "Index", "RentalStore") ></a></p>
            }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rental Order</h2>
        <p>
            This is where you can create, view, update, or delete a rental order. Each rental order will need a rental store before creating.
        </p>
        @if(User.Identity.IsAuthenticated)
            {
                <p><a class="btn btn-default" @Html.ActionLink("Rental Order", "Index", "RentalOrder")></a></p>
            }
        
    </div>
    <div class="col-md-4">
        <h2>Product</h2>
        <p>This is where you can create, view, update, and delete a product, each product will need a rental order before creating.</p>
        @if (User.Identity.IsAuthenticated)
            {
                <p><a class="btn btn-default" @Html.ActionLink("Product", "Index", "Product")></a></p>
            }
    </div>
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>This is where a customer can be created, viewed, updated, and deleted. You will also need to create a rental order before creating a customer.</p>
        @if (User.Identity.IsAuthenticated)
        {
            <p><a class="btn btn-default" @Html.ActionLink("Customer", "Index", "Customer")></a></p>
        }
        </div>
</div>